<html>
<head>
	<title>Irish weather</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script type="text/javascript" src="../pico/pico.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
    <div id="info_column">
        <h1>Irish weather</h1>
        <hr />
        <div id="legend"></div>
        <hr />
        <div id="info"></div>
    </div>
	<div id="map"></div>
	<div id="timeline"></div>
	<div id="loading">Loading...</div>
</body>
</html>